.color-container {
  display: flex;
  padding: 20px;
  width: 170px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid #eef0f4;
  background-color: #fff;

  .color-title {
    h1 {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: #1d232c;
    }
  }

  .color-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 13px;

    .color-picker {
      
      button {
        border: none;
      }
      
    }
  }
}
