.slide-container {
  .slide-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 85vh;
    &:nth-child(1) {
      background: linear-gradient(182deg, #fff4fd 0%, #cbcdff 100%);
    }

    .content-wrapper {
      .content-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem;

        .title-box {
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;
          padding-left: 3rem;

          .title {
            color: #1d232c;
            font-size: 50px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          .btn {
            font-size: 0.8rem;
            color: #fff;
            gap: 8px;
            border-radius: 16px;
            padding: 0.8rem;
            border: none;
            background: #319dff;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .image-box {
          margin-top: 2rem;
          margin-left: 5rem;
          width: 50vw;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

.feature-container {
  margin-top: 3rem;
  padding: 1rem;

  .feature-icons {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #eef0f4;
    background: #fff;

    li {
      display: flex;
      padding: 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;
      border-right: 1px solid #eef0f4;

      &:last-child {
        border-right: none;
      }

      .icon {
        cursor: pointer;
        color: #17b5bf;
        font-size: 2rem;

        &.credit_card {
          color: #ffaa04;
        }

        &.security {
          color: #319dff;
        }

        &.truck {
          color: #0da678;
        }

        &.tag {
          color: #e4003f;
        }
      }

      .list {
        display: flex;
        flex-direction: column;

        span {
          font-weight: 600;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.advertised-container {
  margin-top: 2rem;
  padding: 1rem;

  .advertised-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .advertised-content {
      display: flex;
      width: 710px;
      height: 200px;
      padding: 30px 42px 30px 60px;
      justify-content: flex-end;
      align-items: center;
      gap: 33px;
      border-radius: 6px;
      background: linear-gradient(182deg, #f2fff7 0%, #c3f4ff 100%);

      &:nth-child(2) {
        background: linear-gradient(182deg, #fff4fd 0%, #cbcdff 100%);
      }
      .advertised-title {
        h1 {
          font-size: 30px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          color: #1d232c;
        }
      }

      .ads-box {
        cursor: pointer;

        &.box1 {
          width: 350px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.subcription {
  margin-top: 1rem;
  display: flex;
  height: 96px;
  padding: 0px 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #3b4758;

  .subcript-title {
    .title {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: #fff;
    }
  }

  .subcript-box {
    display: flex;
    margin-left: 4rem;
    align-items: center;
    flex: 1 0 0;

    input {
      outline: none;
      border: none;
      width: 24rem;
      padding: 13px 12px;
      border-radius: 20px 0px 0px 20px;
      background: #fff;
    }

    button {
      border: none;
      display: flex;
      height: 45px;
      padding: 0px 15px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 0px 20px 20px 0px;
      background: #319dff;

      .icon-airplane {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
